services:
    mongod:
        image: mongodb/mongodb-community-server:8.2-ubi9
        container_name: mongod-community
        command: >-
            mongod
            --config /etc/mongod.conf
            --replSet rs0
        ports:
            - 27017:27017
        volumes:
            - ./.mongod:/data/db
            - ./.setup/mongod.conf:/etc/mongod.conf:ro
        healthcheck:
            test: mongosh --quiet --eval "db.adminCommand('ping')" || exit 1
            interval: 5s
            timeout: 5s
            retries: 12
            start_period: 10s
        networks:
            - mongo-stack
        extra_hosts:
            - "devbox.local:host-gateway"
    mongod-setup:
        image: mongodb/mongodb-community-server:8.2-ubi9
        container_name: mongod-setup
        depends_on:
            - mongod
        command: bash /setup-replica-set.sh
        volumes:
            - ./.setup/setup-replica-set.sh:/setup-replica-set.sh:ro
        restart: "no"
        networks:
            - mongo-stack
        extra_hosts:
            - "devbox.local:host-gateway"

    mongot:
        image: mongodb/mongodb-community-search:latest
        container_name: mongot-community-pupr
        volumes:
            - ./.mongot:/data/mongot
            - ./.setup/mongot.conf:/mongot-community/config.default.yml
            - ./.setup/pwfile:/tmp/pwfile:ro
            - ./.setup/mongot-launch.sh:/tmp/launch.sh
        entrypoint: bash /tmp/launch.sh
        # secrets:
        #     - source: mongot_pw
        #       target: /mongot-community/pwfile
        #       mode: 0400
        depends_on:
            mongod:
                condition: service_healthy
            mongod-setup:
                condition: service_completed_successfully
        ports:
            - 27028:27028 # Query server port from config
            - 9946:9946 # Metrics port from config
        networks:
            - mongo-stack
        extra_hosts:
            - "devbox.local:host-gateway"

    kafka:
        image: confluentinc/cp-kafka:latest
        hostname: kafka
        container_name: kafka
        ports:
            - "9092:9092"
            - "9093:9093"
        environment:
            KAFKA_KRAFT_MODE: "true"
            KAFKA_PROCESS_ROLES: controller,broker
            KAFKA_NODE_ID: 1
            KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
            KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
            KAFKA_NUM_PARTITIONS: 1
        volumes:
            - ./.kafka-data:/var/lib/kafka/data
    postgres:
        image: postgres:latest
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: desktop
        ports:
            - "5432:5432"
        volumes:
            - ./.postgres-data:/var/lib/postgresql

networks:
    mongo-stack:
        name: mongo-stack
# to your hosts file add:
# 127.0.0.1 devbox.local
