GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=
REDIRECT_URI=
GOOGLE_CREDENTIALS=
JWT_KEY=
DOMAIN=
DOMAIN_URL=
MONGODB_URI=
MONGODB_DB=
KAFKA_URI=
POSTGRES_URI=
GMAIL_PUB_SUB_TOPIC=
GCLOUD_PROJECT_ID=
GMAIL_PUB_SUB_SUBSCRIPTION=
GOOGLE_SERVICE_ACCOUNT=
REDIS_ADDR=
